.navigation {
    width: 100%;
    height: auto;
    left:0;
    top:0;
    z-index: 1;
    color: white;
    background: #F44336;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    .bottom-border-shadow(); 

    .heading {
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        // font-family: 'Leckerli One', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 4rem;
        color: #E9E0D6;
        display: inline-block;
        padding: 0.25em;
    }
}