.track {
    display: flex;
    height: 5rem;
    margin: .7rem 0;
    //.card-shadow();
    //border: 1px solid rgb(175, 170, 170);
    border-radius: .5rem;
    justify-content: space-between;
    webkit-box-shadow: -2px 4px 3px -3px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 4px 3px -3px rgba(0, 0, 0, 0.15);

    .thumbnail-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15rem;
        border-radius: .25rem 0 0 .25rem;
        overflow: hidden;
    }
    
    .thumbnail {
        border-radius: .25rem 0 0 .25rem;
        height: 100%;
    }

    .details {
        margin: 0 0.5rem;
        overflow: hidden;
        display: flex;
        /* align-items: start; */
        align-self: baseline;
        text-align: start;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .name {
        //-moz-transform:translateX(100%);
        //-webkit-transform:translateX(100%);	
        //transform:translateX(100%);
        // -moz-animation: horizontalScroll 15s linear infinite;
        // -webkit-animation: horizontalScroll 15s linear infinite;
        // animation: horizontalScroll 15s linear infinite;
        margin-top: .5rem;
        font-size: 1.2rem;
        color: #505050;
        width: 100%;
        font-size: 1.1rem;
    }
    
    .added-by {
        width: 100%;
        color: dimgrey;
        align-self: flex-end;
    }
    
    .vote {
        display: flex;
        justify-content: space-between;
        /* align-self: center; */
        height: 100%;
        padding-right: 1rem;
        width: 40%;

        .number-of-votes {
            color: #676565;
            margin: auto;
        }

        i {
            transition: .1s ease-in;
            color: rgba(128, 70, 70, 0.274); 
            font-size: 1.2rem;
            margin: auto;
        }
     
        i:hover {
            color: #F44336;
        }
    }

    @-moz-keyframes horizontalScroll {
        0%   { -moz-transform: translateX(100%); }
        100% { -moz-transform: translateX(-100%); }
    }

    @-webkit-keyframes horizontalScroll {
        0%   { -webkit-transform: translateX(100%); }
        100% { -webkit-transform: translateX(-100%); }
    }

    @keyframes horizontalScroll {
        0%  { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 		
        }
        100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
        }
    }
}


